<div class="row">
  <div class="col-md-10">
    <h3 class="my-3">Edit post</h3>
    <hr />

    <form [formGroup]="postEditForm" (ngSubmit)="onEditPost()">
      <div class="mb3">
        <label for="title">Title</label>
        <input type="text" class="form-control" formControlName="title" />

        <!-- error msgs -->
        {{ getTitleErrorMsg() }}
      </div>

      <div class="mb3">
        <label for="description">Description</label>
        <textarea class="form-control" formControlName="description"></textarea>

        <!-- error msgs -->
        {{ getDescriptionErrorMsg() }}
      </div>

      <div class="my-3">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postEditForm.valid"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</div>
